<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" class="bg">
  <ion-img src="assets/images/yani.png"></ion-img>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Sign Up</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
      <ion-input class="txt" fill="outline" placeholder="Full Name" type="Fname"></ion-input>
      </ion-item>
      <br>
      <ion-item>
      <ion-input class="txt" fill="outline" placeholder="Email" type="email"></ion-input>
      </ion-item>
      <br>
      <ion-item>
      <ion-input class="txt" fill="outline" placeholder="Username" type="uname"></ion-input>
      </ion-item>
      <br>
      <ion-item>
      <ion-input class="txt" fill="outline" placeholder="Password"  type="password"></ion-input>
      </ion-item>
      <br>
      <ion-item>
      <ion-input class="txt" fill="outline" placeholder="Repeat Password" type="password"></ion-input>
      </ion-item>
      
    
    </ion-card-content>
    <ion-button class="signup"color="#C08558" routerLink="/login" >Sign up</ion-button>
  </ion-card>
</ion-content>
