<ion-header collapse="condense">
  <ion-toolbar>
    
    <div class="navheader">
      <div class="ion-page" id="main-content">
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-menu-button ></ion-menu-button>
            </ion-buttons>
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        
      </div>
      <div class="frame">
        <ion-title size="large" style="margin-left: 30px; margin-top: 10px;">Inbox</ion-title>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-menu contentId="main-content">
    <ion-content class="ion-padding">
      <ion-button class="out" color="rgba(255, 255, 255, 0.00);" routerLink="/home">Log Out</ion-button>
    </ion-content>
  </ion-menu>
  <div class="main">
     <ion-list [inset]="true">
    <ion-item>
      <ion-button class="smpl" color="rgba(255, 255, 255, 0.00);" routerLink="/inbox">
        <ion-label>Pokémon Yellow</ion-label>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button class="smpl" color="rgba(255, 255, 255, 0.00);" routerLink="/inbox">
        <ion-label>Mega Man X</ion-label>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button class="smpl" color="rgba(255, 255, 255, 0.00);" routerLink="/inbox">
        <ion-label>The Legend of Zelda</ion-label>
      </ion-button>
       
    </ion-item>
    <ion-item>
      <ion-button class="smpl" color="rgba(255, 255, 255, 0.00);" routerLink="/inbox">
        <ion-label>Pac-Man</ion-label>
      </ion-button>
       
    </ion-item>
    <ion-item>
      <ion-button class="smpl" color="rgba(255, 255, 255, 0.00);" routerLink="/inbox">
        <ion-label>Super Mario World</ion-label>
      </ion-button>
      
    </ion-item>
  </ion-list>
    
  </div>
</ion-content>