<ion-header collapse="condense">
  <ion-toolbar>
    
    <div class="navheader">
      <div class="ion-page" id="main-content">
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-menu-button ></ion-menu-button>
            </ion-buttons>
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        
      </div>
      <div class="frame">
        <ion-title size="large" style="margin-left: 30px; margin-top: 10px;">Fetch & Care</ion-title>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-menu contentId="main-content">
    <ion-content class="ion-padding">
      <ion-button class="inb" color="rgba(255, 255, 255, 0.00);" routerLink="/clinbox">Inbox</ion-button>
      <ion-button class="out" color="rgba(255, 255, 255, 0.00);" routerLink="/home">Log Out</ion-button>
    </ion-content>
  </ion-menu>
  <div class="main">
    <div class="rs">
      <div class="btn" >
        <ion-button class="sf"color="rgba(255, 255, 255, 0.00);" routerLink="/sprofile">
          <div class="ang">
            <ion-avatar>
              <img alt="icon" src="../../assets/images/caton.jpg" />
            </ion-avatar>
          </div>
          <h1>Catherine Mae M.</h1>
          <div class="ds">
            <h2> Ibaan, Batangas</h2>
            <p>5km away</p>
          </div>
        </ion-button>
      </div>
      <div class="btn" >
        <ion-button class="sf"color="rgba(255, 255, 255, 0.00);" routerLink="/profol">
          <div class="ang">
            <ion-avatar>
              <img alt="icon" src="../../assets/images/paul.jpg" />
            </ion-avatar>
          </div>
          <h1>Paul Angelo C.</h1>
          <div class="ds">
            <h2> Ibaan, Batangas</h2>
            <p>5km away</p>
          </div>
        </ion-button>
      </div>
      <div class="btn" >
        <ion-button class="sf"color="rgba(255, 255, 255, 0.00);"routerLink="/proyani">
          <div class="ang">
            <ion-avatar>
              <img alt="icon" src="../../assets/images/cyani.jpg" />
            </ion-avatar>
          </div>
          <h1>Khryz Dianne A.</h1>
          <div class="ds">
            <h2>Ibaan, Batangas</h2>
            <p>5km away</p>
          </div>
        </ion-button>
      </div>
    </div>    
    
  </div>
</ion-content>