
<ion-content [fullscreen]="true" class="bg">
 
  <ion-card>
    <ion-card-header>
      <ion-card-title>Your Inbox</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>

        <ion-item routerLink="/accept">
          <ion-thumbnail slot="start">
            <img  src="../../assets/images/cyani.jpg" />
          </ion-thumbnail>
          <ion-label>
            <h1 style="font-weight : 700;">Khryz Dianne A.</h1>
            <p>Approved your Booking!</p>
          </ion-label>
        </ion-item>
  
        <ion-item routerLink="/decline">
          <ion-thumbnail slot="start">
            <img  src="../../assets/images/caton.jpg" />
          </ion-thumbnail>
          <ion-label>
            <h1>Catherine Mae M.</h1>
            <p>Declined your Booking!</p>
          </ion-label>
        </ion-item>
  
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>


